@import url('https://fonts.googleapis.com/css?family=Roboto Mono&display=swap');

body {
    background: linear-gradient(90deg, #c38888 0%, #baa1a1 100%);
    font-family: Roboto Mono, serif;
}

p {
    color: azure;
}
nav {
    background: linear-gradient(90deg, #c38888 0%, #baa1a1 100%);
}
.container-fluid {
    background: linear-gradient(90deg, #c38888 0%, #baa1a1 100%);
    margin: 0;
    
}

.nav-link {
    color: aquamarine;
}

.navbar-nav .nav-link.active {
    color: rgb(188, 194, 194);
    margin: 0;
   
}

.navbar-brand img {
    width: 40px;
}

.navbar-toggler {
    background-color: rgb(112, 108, 108);
}

.sitbar {
    color: aliceblue;
    background: linear-gradient(270deg, #c38888 0%, #baa1a1 100%);
}

.card {
    background: linear-gradient(270deg, #c38888 0%, #baa1a1 100%);
}


.card a {
    text-decoration: none;
    color: azure;
}

.slide-text,
.footer-text {
    color: azure;
    margin: auto auto;
}

.call-anim {
    animation: myAnim 2s ease 0s 100000000000 normal forwards;
}

@keyframes myAnim {
    0%,
    50%,
    100% {
    opacity: 1;
    }
   
    25%,
    75% {
    opacity: 0;
    }
   }

@media (max-width 755) {
    .carousel-indicators {
        display: none;
    }
}

footer,
.btn-outline-light {
    background-color: #c38888;
}

.media-links {
    display: flex;
    justify-content: center;
    align-items: center;
}